# Backup
.BAK/

# Byte-compiled / optimized / DLL files
__pycache__/
**/__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
**/.venv/
env/
venv/
ENV/

# Distribution / packaging
dist/
build/
*.egg-info/

# Project specific ignores
_VIDEO_/
**/_VIDEO_/
plates/
**/plates/
faces/
**/faces/
